<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../public/css/site.css" type="text/css">
</head>
<body>

<div>
    <h1>Pete's Pizza Shop</h1>

    <p>The best pizza voted in <strong>Wagonwheel, Oregon</strong>.</p>
</div>

<div>
    <label for="delivery"><input type="checkbox" name="delivery" id="delivery"/>label name</label>
</div>

<title>{{title}}</title>

<div class="menu" id="mainMenu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
</div>



<script src="../public/js/index.js" type="text/javascript"></script>

</body>
</html>